<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learning Spring Boot 3</title>
</head>
<body>
    <h1>Getting Start Learning Spring Boot 3.0!</h1>
    <p>
        In this chapter, we are learning how to make
        a web app using Spring Boot 3.0
    </p>
    <ul>
        {{#books}}
            <li>{{title}}</li>
        {{/books}}
    </ul>
    <form action="/new-book" method="post">
        <input type="text" name="title">
        <button type="submit">Submit</button>
    </form>
</body>
</html>