<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learning Spring Boot 3</title>
</head>
<body>
    <h1>Getting Start Learning Spring Boot 3.0!</h1>
    <p>
        In this chapter, we are learning how to make
        a web app using Spring Boot 3.0
    </p>

    <h2>Search Book</h2>
    <form action="/multi-field-search" method="post">
        <label for="name">Name:</label>
        <input type="text" name="title">
        <label for="description">Description:</label>
        <input type="text" name="description">
        <button type="submit">Search</button>
    </form>

    <form action="/universal-search" method="post">
        <label for="value">Search:</label>
        <input type="text" name="value">
        <button type="submit">Search</button>
    </form>

    <h2>List Books</h2>
    <ul>
        {{#books}}
            <li>{{title}}</li>
        {{/books}}
    </ul>

    <h2>Add Book</h2>
    <form action="/new-book" method="post">
        <p>
            <label>Title: </label>
            <input type="text" name="title">
        </p>
        <p>
            <label>Description: </label>
            <input type="text" name="description">
        </p>
        <button type="submit">Submit</button>
    </form>
</body>
</html>